[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third_party/abseil"]
	path = third_party/abseil
	url = https://github.com/abseil/abseil-cpp.git
[submodule "third_party/pstreams"]
	path = third_party/pstreams
	url = https://git.code.sf.net/p/pstreams/code
[submodule "third_party/Lyra"]
	path = third_party/Lyra
	url = https://github.com/bfgroup/Lyra.git
